---
---

<header class="topbar">
  <div class="logo-space">
    <div class="logos">
      <img src="/frontend/img/logo-uny.png" alt="Logo UNY" class="logo-img">
      <img src="/frontend/img/" alt="Logo 2" class="logo-img">
      <img src="/frontend/img/" alt="Logo 3" class="logo-img">
      <img src="/frontend/img/" alt="Logo 4" class="logo-img">
    </div>
  </div>
  <div class="title">CEK KESEHATAN</div>
</header>
